/* Isto cria uma barra lateral estreita fixada à esquerda da página */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
/* Estilos para dispositivos de tela pequena */
@media only screen and (max-width: 600px) {
    /* Adapte o layout para telas pequenas aqui */
  }
  
  /* Estilos para dispositivos de tela média */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Adapte o layout para telas médias aqui */
  }
  
  /* Estilos para dispositivos de tela grande */
  @media only screen and (min-width: 1025px) {
    /* Adapte o layout para telas grandes aqui */
  }
/* Isto cria uma barra lateral estreita fixada à esquerda da página */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
/* Estilos para dispositivos de tela pequena */
@media only screen and (max-width: 600px) {
    /* Adapte o layout para telas pequenas aqui */
  }
  
  /* Estilos para dispositivos de tela média */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Adapte o layout para telas médias aqui */
  }
  
  /* Estilos para dispositivos de tela grande */
  @media only screen and (min-width: 1025px) {
    /* Adapte o layout para telas grandes aqui */
  }
  :root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;
    --color-white: #fff;
    --color-black: #000;
    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;
    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;
    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;
    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;
    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
  }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 6rem;
  padding: 2rem 1rem;
  background-color: #008B8B;
  z-index: 1050;
  transition: width 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 1.2);
}
html {
  zoom: 0.75; /* Ajusta a escala da página para 75% */
}

.welcome-text {
  color: white;
}
.nav-link-beat:hover {
  animation: beat 0.5s infinite;
}
@keyframes beat {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
}
.sidebar:hover {
  width: 16rem;
}
.sidebar-item:hover .nav-link-text {
  color: green;
}
.sidebar .nav-link {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.sidebar .nav-link i {
  width: 2rem;
}
.sidebar .nav-link span {
  visibility: hidden;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}
.sidebar:hover .nav-link span {
  visibility: visible;
  opacity: 1;
  color: white;
  margin-right: 10px;
}
.sidebar-header {
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}
.sidebar-header h2 {
  opacity: 0;
  margin-left: 1rem;
  margin-bottom: 0;
  transition: opacity 0.1s ease-in-out;
}
.sidebar:hover .sidebar-header h2 {
  opacity: 1;
}



.nav-link.active {
  background-color: #004c4c; /* Mudar a cor de fundo do link ativo */
  color: white; /* Cor do texto quando o link está ativo */
  border-radius: 5px; /* Adicionar bordas arredondadas para destacar */
}

.nav-link.active i {
  color: white; /* Cor do ícone quando o link está ativo */
}

.content {
  margin-left: 7rem;
  margin-right: 2rem;
  padding: 2rem 1rem;
  display: grid;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}


.text-footer {
    background-color: rgb(0, 139, 139); /* Se preferir uma cor personalizada */
    color: white; /* Cor do texto */
    padding: 15px; /* Espaçamento interno */
    font-family: Arial, sans-serif; /* Fonte */}

.footer-left, .footer-right {
  display: flex;
  align-items: center; /* Centraliza verticalmente o texto */
}

.footer-left {
  margin-left: -100px; /* Espaço à esquerda */
}

.footer-right {
  margin-right: -150px; /* Espaço à direita */
}

/* Adiciona um efeito de hover no texto */
.footer-left:hover, .footer-right:hover {
  text-decoration: underline; /* Sublinha o texto ao passar o mouse */
}

/* Responsividade */
@media (max-width: 768px) {
  .footer-left, .footer-right {
      font-size: 12px; /* Reduz o tamanho da fonte em telas menores */
  }
}
.custom-header {
  background-color: rgb(0, 139, 139); /* Se preferir uma cor personalizada */
  padding: 20px 0; /* Padding de 20px no topo e na base */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  display: flex;
  flex-direction: column; /* Alinha os elementos verticalmente */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.custom-header img {
  max-width: 250px; /* Limita a largura da logo */
  height: auto; /* Mantém a proporção da imagem */
}

.header-text {
  font-size: 1.0rem; /* Tamanho da fonte */
  color: #fff; /* Cor branca */
  margin-top: 2px; /* Espaçamento entre a logo e o texto */
  font-family: 'Poppins', sans-serif; /* Fonte utilizada */
}


.animation3 {
  width: 600px; /* Aumenta o tamanho da animação */
  height: 600px; /* Aumenta o tamanho da animação */
  margin-top: 20px; /* Ajusta o espaçamento superior */
  max-width: 100%; /* Responsivo: ajusta conforme o tamanho da tela */
  height: auto; /* Mantém a proporção */
}
.custom-button {
  background-color: mediumturquoise; /* Cor de fundo */
  color: black; /* Cor do texto */
  font-family: 'Poppins', sans-serif; /* Fonte */
  font-size: 16px; /* Tamanho da fonte */
  border: 3px solid transparent; /* Bordas */
  padding: 12px 20px; /* Espaçamento interno */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra */
  transition: all 300ms; /* Transição suave para efeitos */
}

.custom-button:hover {
  background-color: darkturquoise; /* Cor de fundo ao passar o mouse */
  color: white; /* Cor do texto ao passar o mouse */
  transform: scale(1.05); /* Aumenta o tamanho do botão ao passar o mouse */
}

/* Classe para rotação */
.rotate {
  transition: transform 0.5s; /* Tempo de transição da rotação */
  transform: rotate(360deg); /* Rotação de 360 graus */
}

/* Estilo personalizado para o botão */
.btn-custom {
  transition: 300ms;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Estilo para hover (quando o mouse passa sobre o botão) */
.btn-custom:hover {
  transform: scale(0.90);
}

/* Garantir que o placeholder seja visível */
::placeholder {
  color: #6c757d; /* Cor padrão do Bootstrap para placeholders */
  opacity: 1; /* Garantir que a opacidade esteja em 100% */
}
